{% extends "base.html" %}
{% load i18n %}
{% block content %}
	<h3>{% trans "Item" %}</h3>
      <p>{% trans "Get two columns" %} <strong>{% trans "item detail and menu bar" %}</strong>.</p>
      <div class="row">
        <div class="col-md-8">
            <div class="jumbotron">
            	<h1>{{ item.name }}</h1>
            	<p>{{ item.comment }}</p>
            	<p>{% trans "Price" %}:{{ item.price }}</p>
            	<p>{% trans "Category" %}:
            	{% for i in item.type1.all %}
					{{ i.name }}
				{% endfor %}
            </div>
        </div>
{% endblock %}
