{% extends 'basesearch.html' %}
{% load i18n %}
{% block content %}
<div  class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
    <form method="post" name="example form" >
    {% csrf_token %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{% trans "Search" %}</h3>
            </div>
            <div class="panel-body">
                <input id='id_q' name='q' type="text" placeholder="{% trans 'Search' %}" class="form-control">
            </div>
        </div>
       <div class="panel panel-default">
            <div class="panel-heading">{% trans "Result" %}</div>
                <script id="resTmpl" type="text/x-jquery-tmpl">
                    <h2>
                        ${fields.name}
                    </h2>
                    <p>
                        <a href="/item/${pk}">Подробнее</a>
                    </p>
                </script>
            <div class="panel-body" id="res">
                <p>{% trans "Enter search query..." %}</p>
            </div>
        </div>
    </form>
    </div>
    <div class="col-md-2"></div>
{% endblock %}